
.main_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 80rem;
    max-width: 100%;
    padding: 80px 20px 0 20px;
    box-sizing: border-box;
}
.square_img {
    width: 100%;
    height: 450px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center 50%;
    display: block;
}
.detail_box{
    width:100%;
    height:auto;
    background-color: white;
    border-radius:10px;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
}
.detail_img{
    object-fit: cover;
}
.detail_text{
    position: absolute;
    color: white;
    font-Size: 28px;
    font-weight: 500;
    top: 33px;
    left: 50px;
}
.store_name{
    font-Size: 2.125rem;
    font-weight: 500;
    margin-top: 8px;
}
.store_star{
    display:flex;
    align-items: center;
    gap: 4px; 
}
.star{
    color: rgb(255, 217, 0);
    font-size:20px;
}
.score{
    font-size:1.125rem;
    margin-top: 6px;
}
.address_box{
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
    margin-top: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.address_map{
    background-color: white;
    margin-right: 0px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 550px;
    box-sizing: border-box;
}
.address_text{
    padding: 28px 10px 28px 34px;
    font-size: 1.125rem;
    box-sizing: border-box;
}
.address_title{
    flex: 0 0 67px; 
    width: 67px;
    white-space: nowrap;
}
.address_flex{
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
}
.menu_box{
    margin: 40px 0 80px 0;
    background-color: white;
    width: 100%;
    max-width: 1240px;
    height: auto;
    padding: 60px 70px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
}
.menu_detail_box{
    display: flex;
    justify-content: space-between;
}
.menu_text{
    align-items: center;
    padding: 45px 70px;
}
.menu_img{
    border-radius: 10px;
    width: 240px;
    height: 164px;
    object-fit: cover;
}
.menu_hr{
    border: 0.2px solid #dddcdc;
    margin: 10px 0;
}
.menu_title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.menu_price{
    font-size: 1.125rem;
}
.menu_btn{
    display: flex;
    gap: 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.menu_make_btn{
    border: 1px solid #FF6B6B;
    color: #FF6B6B;
    background-color: white;
    font-size: 2.125rem;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.menu_confirm_btn{
    border: 1px solid #FF6B6B;
    font-size: 2.125rem;
    color: #FF6B6B;
    background-color: white;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.menu_make_btn:hover{
    background-color: #FF6B6B;
    color: white;
}
.menu_confirm_btn:hover{
    background-color: #FF6B6B;
    color: white;
}
@media(max-width:1180px){
    .address_map{
        width: 500px;
    }
    .menu_make_btn{
        height: 75px;
        font-size: 1.875rem;
    }
    .menu_confirm_btn{
        height: 75px;
        font-size: 1.875rem;
    }
}
@media(max-width:1122px){
    .address_map{
        width: 400px;
    }
    .menu_make_btn{
        height: 70px;
        font-size: 1.875rem;
    }
    .menu_confirm_btn{
        height: 70px;
        font-size: 1.875rem;
    }
}
@media (max-width:1000px){
    .detail_box{
        padding: 30px 30px;
    }
    .detail_text{
        left: 40px;
    }
    .square_img {
        height: 350px;
    }
    .menu_make_btn{
        height: 65px;
        font-size: 1.75rem;
    }
    .menu_confirm_btn{
        height: 65px;
        font-size: 1.75rem;
    }
}
@media (max-width:900px){
    .address_box{
        display: block;
    }
    .address_map{
        border-radius: 0 0 10px 10px;
        height: 180px;
        width: 100%;
        box-sizing: border-box;
    }
    .menu_btn{
        gap: 30px;
    }
    .menu_make_btn{
        height: 60px;
        font-size: 1.625rem;
    }
    .menu_confirm_btn{
        height: 60px;
        font-size: 1.625rem;
    }
    .menu_text{
        padding: 40px 40px;
    }
    .menu_title{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .menu_box{
        padding: 40px 50px;
    }
    .menu_price{
        font-size: 1rem;
    }
}
@media (max-width:700px){
    .address_box{
        display: block;
    }
    .address_map{
        border-radius: 0 0 10px 10px;
        height: 180px;
        width: 100%;
        box-sizing: border-box;
    }
    .square_img {
        height: 300px;
    }
    .menu_btn{
        gap: 20px;
    }
    .menu_make_btn{
        height: 55px;
        font-size: 1.375rem;
        border-radius: 15px;
    }
    .menu_confirm_btn{
        height: 55px;
        font-size: 1.375rem;
        border-radius: 15px;
    }
    .detail_box {
        padding: 20px;
    }
    .detail_box img{
        display: none;
    }
    .detail_text{
        display: none;
    }
    .store_name{
        font-Size: 2rem;
    }
    .score{
        font-size: 1rem;
        margin-top: -2px;
    }
    .address_text{
        font-size: 1rem;
        padding: 20px 10px 20px 20px;
    }
    .main_container {
        padding: 40px 20px 0 20px;
    }
    .menu_img{
        width: 175px;
        height: 125px;
    }
    .menu_text{
        padding: 20px;
    }
    .menu_title{
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .menu_box{
        padding: 30px 40px;
    }
    .menu_price{
        font-size: 1.125rem;
    }
}
@media (max-width:550px){
    .square_img {
        height: 200px;
    }
    .menu_btn{
        gap: 10px;
    }
    .menu_make_btn{
        height: 50px;
        font-size: 1.25rem;
    }
    .menu_confirm_btn{
        height: 50px;
        font-size: 1.25rem;
    }
    .store_name{
        font-Size: 1.5rem;
    }
    .score{
        font-size: 0.875rem;
        margin-top: -1px;
    }
    .address_text{
        font-size: 0.875rem;
        padding: 20px 10px 20px 20px;
    }
    .address_title{
        width: 60px;
    }
    .star{
        font-size:1rem;
    }
    .address_map{
        border-radius: 0 0 10px 10px;
        height: 130px;
        width: 100%;
        box-sizing: border-box;
    }
    .menu_box{
        padding: 20px 30px;
    }
    .menu_title{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .menu_price{
        font-size: 1rem;
    }
    .menu_text{
        padding: 20px;
    }
    .menu_img{
        width: 150px;
        height: 100px;
    }
}
@media (max-width:450px){
    .menu_make_btn{
        height: 45px;
        font-size: 1.2rem;
    }
    .menu_confirm_btn{
        height: 45px;
        font-size: 1.2rem;
    }
    
}
/* .menu_detail_box{
    display: flex;
    justify-content: space-between;
}
.menu_text{
    align-items: center;
    font-size:20px;
    padding: 45px 70px;
}
.menu_img{
    border-radius: 10px;
    width: 240px;
    height: 164px;
    object-fit: cover;
}
.menu_hr{
    border: 0.2px solid #dddcdc;
    margin: 10px 0;
}
.menu_title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.menu_price{
    font-size: 18px;
} */