.footer {
  width: 100%;
  background-color: #2f4f4f;
  color: #fff;
  margin-top: 20px;
  height: 250px;

  display: wrap;
  align-items: center; /* 세로 가운데 */
  justify-content: center; /* 가로 가운데 */
  box-sizing: border-box;
  padding: 0 20px;
}

.footer-inner {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 14px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 14px;
}

.footer-section {
  min-width: 250px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  color: #ccc;
}
