.owner_header{
    background-color: #ff6b6b;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: white;
}

.title{
    font-size: 32px;
    font-weight: 600;
}

.userinfo{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.userName_btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: white;
    color: #ff6b6b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}