.register_container {
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
}

.register_h2 {
    display: flex;
    border-bottom: 1px solid #555;
}


.register_table {
    width: 100%;
    border-collapse: collapse;
}

.register_table td {
    width: 800px;
    padding: 15px 10px;
    vertical-align: middle;
    font-size: 1.2rem;
    color: #555;
}

.register_table input {
    width: 480px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 1rem;
}

.register_table button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #ffb1b1;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.register_button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.register_button button {
    padding: 12px 30px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.register_button button:first-child {
    background-color: #ddd;
}

.register_button button:last-child {
    background-color: #ffb1b1;
}


.error_message {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
}

@media (max-width: 900px) {
    .register_table td {
        font-size: 1.2rem;
    }

    .register_table input {
        max-width: 80%;
    }

    .register_button button {
        width: 150px;
        font-size: 18px;
        padding: 10px 20px;
    }
}

@media (max-width: 700px) {
    .register_container {
        padding: 20px;
    }

    .register_table td {
        display: block;
        width: 100%;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .register_table tr {
        display: block;
        margin-bottom: 15px;
    }

    .register_table input {
        width: 100%;
        max-width: 600px;
        padding: 10px;
        border: 1px solid #aaa;
        border-radius: 6px;
        font-size: 1rem;
        box-sizing: border-box;
    }

    .register_table button {
        margin-top: 10px;
        width: 95%;
    }

    .register_button {
        flex-direction: column;
        gap: 10px;
    }

    .register_button button {
        width: 100%;
    }

    .register_h2h3 {
        flex-direction: column;
        align-items: flex-start;
    }

    .register_h2h3 h2,
    .register_h2h3 h3 {
        width: 100%;
        font-size: 1.3rem;
    }
}