.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main_contents{
    width: 100%;
    max-width: 80rem;
    box-sizing: border-box;
    padding: 80px 20px;
    min-height: 1000px;
}
.main_head{
    width: 100%;
    height: 65px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 20px;
}
.main_box{
    background-color: white;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.search_result{
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.search_store_img{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}
.search_store_detail{
    width:100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}
.search_store_name{
    font-size: 1.5rem;
    font-weight: bold;
}
.search_menu_name{
    font-size: 1.125rem;
    margin: 10px 0;
    font-weight: 500;
}
.search_status{
    font-size: 1.125rem;
    color: red;
}
.search_noResult{
    width: 100%;
    height: 200px;
    background-color: #F9F9F9;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 20px 0;
}
.back_btn{
    padding: 24px;
    cursor: pointer;
}
.store_name{
    font-size: 20px;
    color: rgb(68, 68, 68);
}
.address_map{
    width: 100%;
    height: 500px;
    border: 2px solid #b9b8b8;
    box-sizing: border-box;
    border-radius: 10px;
}
.result_map_btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.result_btn{
    font-size: 1.25rem;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #FF6B6B;
    color: #FF6B6B;
    width: 100px;
    height: 45px;
}
.result_btn:hover{
    background-color: #FF6B6B;
    color: white;
}

@media (max-width:950px) {
    .search_store_img{
        width: 250px;
    }
}
@media (max-width:850px) {
    .search_store_img{
        width: 250px;
    }
    .search_store_name{
        font-size: 1.375rem;
    }
    .search_menu_name{
        font-size: 1rem;
        margin: 10px 0;
        font-weight: 500;
    }
    .search_status{
        font-size: 1rem;
        color: red;
    }
    .result_btn{
        font-size: 1.125rem;
        width: 90px;
        height: 40px;
    }
    .search_store_detail{
        height: auto;
        padding: 20px;
    }
    .main_box{
        padding: 30px;
    }
    .main_contents{
        padding: 60px 20px;
    }
}
@media (max-width:750px) {
    .search_store_name{
        font-size: 1.25rem;
    }
    .search_menu_name{
        font-size: 0.875rem;
        margin: 10px 0;
        font-weight: 500;
    }
    .search_status{
        font-size: 0.875rem;
        color: red;
    }
    .result_btn{
        font-size: 1rem;
        width: 80px;
        height: 35px;
    }
    .search_store_detail{
        height: auto;
        padding: 20px;
    }
    .search_result{
        margin: 0;
    }
    .main_head {
        font-size: 1.25rem;
    }
    .store_name {
        font-size: 1rem;
    }
    .back_btn{
        padding: 16px;
        width: 40px;
        box-sizing: border-box;
    }
}
@media (max-width:650px) {
    .main_contents{
        padding: 40px 20px;
    }
    .search_store_name{
        font-size: 1.25rem;
    }
    .search_menu_name{
        font-size: 0.875rem;
        margin: 10px 0;
        font-weight: 500;
    }
    .search_status{
        font-size: 0.875rem;
        color: red;
    }
    .result_btn{
        font-size: 1rem;
        width: 80px;
        height: 35px;
    }
    .search_store_detail{
        height: auto;
        padding: 20px;
    }
    .main_box{
        padding: 20px;
    }
    .main_head {
        font-size: 1.125rem;
    }
    .store_name {
        font-size: 1rem;
    }
}
@media (max-width:550px) {
    .search_store_name{
        font-size: 1rem;
    }
    .search_menu_name{
        font-size: 0.75rem;
        margin: 5px 0;
        font-weight: 500;
    }
    .search_status{
        font-size: 0.75rem;
        color: red;
    }
    .result_btn{
        font-size: 0.875rem;
        width: 50px;
        height: 25px;
    }
    .search_store_detail{
        height: auto;
        padding: 20px;
    }
    .result_map_btn{
        gap: 5px;
    }
    
}
